@import '../../../variables.scss';
@import '../../../animations.scss';

.Product {
  display: flex;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  height: 36rem;

  @media screen and (max-width: 1300px) {
    width: 80%;
  }
  @media screen and (max-width: 900px) {
    width: 90%;
  }
  @media screen and (max-width: 600px) {
    height: auto;

    flex-direction: column !important;
    align-items: center;
  }

  &.left {
    flex-direction: row-reverse;

    & .Product__info {
      align-items: flex-start;
    }
    & .Product__showcase {
      margin-left: 10rem;
      margin-right: 0;

      @media screen and (max-width: 1500px) {
        margin-left: 5rem;
      }
      @media screen and (max-width: 1100px) {
        margin-left: 3rem;
      }
      @media screen and (max-width: 600px) {
        margin-left: 0;
      }
    }
  }
  &.right {

    & .Product__info {
      align-items: flex-end;
    }
    & .Product__showcase {
      margin-right: 10rem;
      margin-left: 0;

      @media screen and (max-width: 1500px) {
        margin-right: 5rem;
      }
      @media screen and (max-width: 1100px) {
        margin-right: 3rem;
      }
      @media screen and (max-width: 600px) {
        margin-right: 0;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 24rem;

    @media screen and (max-width: 1300px) {
      margin-bottom: 18rem;
    }
    @media screen and (max-width: 1000px) {
      margin-bottom: 12rem;
    }
    @media screen and (max-width: 800px) {
      margin-bottom: 18rem;
    }
  }

  &__showcase {
    flex-basis: 80rem;

    @media screen and (max-width: 800px){
      flex-basis: unset;
      width: 30%;
    }
    @media screen and (max-width: 600px) {
      width: 40%;
    }
    @media screen and (max-width: 400px) {
      width: 50%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px){
      width: 70%;
      height: 42rem;
    }
    @media screen and (max-width: 600px) {
      width: 80%;

      align-items: center !important;  
    }
    @media screen and (max-width: 500px) {
      width: 90%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: auto;

    display: block;

    transform: translateY(-25%);

    animation: bounce 2s infinite;
    animation-timing-function: ease-in-out;  

    @media screen and (max-width: 900px) {
      transform: translateY(-10%);
    }
  }
  &__variants {
    display: none;
  }
  &__sizes {
    margin-top: 2rem;

    display: flex;

    @media screen and (max-width: 600px) {
      order: 10;  
    }
  }
  &__description {
    font-weight: 300;
    font-size: 2.2rem;

    @media screen and (max-width: 800px) {
      line-height: 1.4;
    }
    @media screen and (max-width: 600px) {
      order: 12;  
    }
  }
  &__button {
   margin-top: 3rem;
   width: 20rem;
   height: 4.5rem;

   font-size: 1.8rem;

   transition: all .2s;

    @media screen and (max-width: 600px) {
      margin-bottom: 3rem;

      order: 11;  
    }
    @media screen and (max-width: 500px) {
      flex-shrink: 0;
    }
  
    &:hover {
      transform: translateY(-3px)
    }
  }
  &__input {
    visibility: hidden;
  }
  &__label {
    width: 100%;
    height: 100%;
    cursor: pointer;

    font-weight: 700;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translateY(1px) translateX(-1px);
  }
  &__radio {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;

    position: relative;

    transition: all .2s;

    &:hover {
      transform: translateY(-3px);
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }
    &.selected {
      &::after {
        background-color: rgba($color-blood, .5);
      }
    }

    &::after {
      width: 100%;
      height: 100%;
      content: "";
      border-radius: 50%;
      border: 1px solid rgba($color-blood, .7);
      background-color: rgba($color-blood, .1);

      display: block;

      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      z-index: -1;
    }
  }
}