
//COLORS
$color-black: #010101;
$color-blood: #671717;
$color-background: #2A2525;

$color-gray-light-1: #FCFCF4;
$color-gray-light-2: #FAF1F1;
$color-gray: #9da395;

$color-white: #FFF;

$color-brown: #5B1E1E;


//FONTS
$font-sister: 'Love Ya Like A Sister', cursive;
$font-arima: 'Arima Madurai', cursive;
$font-arbutus: 'Arbutus Slab', serif;
